.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.scroll {
  max-height: 300px;
  overflow-y: scroll;
}

.absolute {
  width: 550px;
  height: 400px;
  position: absolute;
  background-color: white;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  border-radius: 5%;
}

.hide {
  display: none;
}

.grid-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 150;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.67) none repeat scroll 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 0fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". box ."
    ". . .";
}

.box {
  grid-area: box;
}
