.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.scroll {
  max-height: 300px;
  overflow-y: scroll;
}

.modal {
  width: 550px;
  height: 400px;
  background-color: white;
  border-radius: 5%;

  @media (max-width: 768px) {
    width: 400px;
  }
}

.grid-container {
  min-height: 101%;
  min-width: 1024px;
  width: 101%;
  height: auto;
  position: fixed;
  z-index: 150;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.67) repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
